/*color deporte dropdown*/
.botonDropdown {
    background-color: #facd46;
}
/* colores pesta침as partidos y partidos past  */
/* Color amarillo Copa Renault solo en la pesta침a activa */
.nav-link.partidos.active {
    color: #FFC107 !important;
    /* amarillo Bootstrap */
    border-bottom: 2px solid #FFC107;
    /* amarillo y delgado */
}

/* color gris oscuro para las pesta침as inactivas */
.nav-link.partidos {
    color: #212529;
    /* negro gris치ceo */
}

/*Card de partidos*/

body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}

.match-card {
    max-width: 420px;
    margin: 40px auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.time-badge {
    background-color: #e9ecef;
    border-radius: 8px;
    font-size: 0.9rem;
    padding: 4px 10px;
}
/**fondo card-----------**/

/*logos y footer----------*/
.logo-copaRenault {
    width: 32px;
    height: 32px;
}

.team-logo {
    width: 64%;
    height: 64%;
}

.match-footer {
    background-color: #111;
    color: #fff;
    padding: 16px;
}

.match-footer p {
    margin: 0;
}

.match-footer .subtitle {
    color: #bbb;
    font-size: 0.9rem;
}