{% extends "./base.html" %}

{% block body %}
<body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <div class="dropdown">

        <input autocomplete="off" type="text" id="email_input"  placeholder="email" onkeyup="filterFunction()" class="dropdown-toggle botonDropdown" data-bs-toggle="dropdown" >
        </input>
        <ul class="dropdown-menu" id="emails">
        {% for usuario in usuarios %}
            <button class="dropdown-item" onclick="{document.getElementById('rango_input').innerHTML='{{ usuario.rango }}';
                                                    document.getElementById('rango').value='{{ usuario.rango }}';
                                                    document.getElementById('email_input').value='{{ usuario.email }}'; 
                                                    document.getElementById('email').value='{{ usuario.email }}';}">
                                                    {{ usuario.email }}</button>
        {% endfor %}

        
      </ul>
        </div>
        <div class="dropdown">

            <button id="rango_input" class="btn dropdown-toggle botonDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        rango
        </button>
        <ul class="dropdown-menu">
        <li><button class="dropdown-item" onclick="{document.getElementById('rango').value='admin';document.getElementById('rango_input').innerHTML='admin';}">admin</button></li>
        <li><button class="dropdown-item" onclick="{document.getElementById('rango').value='cantina';document.getElementById('rango_input').innerHTML='cantina';}">cantina</button></li>
        <li><button class="dropdown-item" onclick="{document.getElementById('rango').value='fixture';document.getElementById('rango_input').innerHTML='fixture';}">fixture</button></li>
        <li><button class="dropdown-item" onclick="{document.getElementById('rango').value='cliente';document.getElementById('rango_input').innerHTML='cliente';}">cliente</button></li>
      </ul>
        </div>

        <form method="POST" action="/api/usuario/rango">
        <input id="email" type="text" name="email" style="display: none;">
        <input id="rango" type="text" name="rango" style="display: none;">
        <button type="submit">editar</button>
    </form>


    <div id="ShowExamples">

        {% for usuario in usuarios %}
        <h5>
            {{ usuario.email }} - {{ usuario.rango }}
        </h5>
        {% endfor %}

    </div>
</body>
<script>
  const error = "{{ error }}";
  if (error) {
    alert(error);
    location.href="/staff/page"
  }
function filterFunction() {
  const input = document.getElementById("email_input");
  const filter = input.value.toUpperCase();
  const div = document.getElementById("emails");
  const a = div.getElementsByTagName("button");
  for (let i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>

{% endblock %}