{% extends "./base.html" %}

{% block body %}
<h2>examples</h2>
    <form method="POST" action="/api/example">
        <input type="text" name="example" placeholder="example">
        <button type="submit">Agregar</button>
    </form>


<div id="ShowExamples">
        {% for example in examples %}
            <li>
                {{ example.id_example }} - {{ example.nombre }}
                <a href="{{ url_for('rutas.edit_user', id_example=example.id_example) }}">Editar</a>
                <a href="{{ url_for('rutas.delete_user', id_example=example.id_example) }}">Borrar</a>
            </li>
        {% endfor %}
</div>

{% endblock %}