{% extends "./base.html" %}

{% block body %}
<form method="post" action="/update/{{objeto.__tablename__}}/{{objeto.id}}" enctype="multipart/form-data" >
    <H1>{{objeto.__tablename__}}</H1>
    {% for var_name in var_names %}
    {% if not var_name in ["tipo_img","tamaño_img","pixel_img"]%}
    {{var_name}} <input type="text" name="{{var_name}}" value="{{ objeto | attr(var_name) }}" placeholder="{{ objeto | attr(var_name) }}" required>
    <br>
    {% endif %}
    {% if var_name == "pixel_img"%}
    archivo <input type="file" name="archivo" >
    <br>
    {% endif %}
    {% endfor %}

    <button type="submit">editar</button>
    
</form>
{% endblock %}